#
#  /abc/def/.htaccess -- per-dir config file for directory /abc/def
#  Remember: /abc/def is the physical path of /xyz, i.e., the server
#            has a 'Alias /xyz /abc/def' directive e.g.
#

RewriteEngine On

#  let the server know that we were reached via /xyz and not
#  via the physical path prefix /abc/def
RewriteBase   /

#  now the rewriting rules
RewriteRule   ^oldstuff\.html$  newstuff.html
RewriteRule	^static\/(.*)$ http://localhost:7778/static/$1 [P]
RewriteRule	^api\/(.*)$ http://localhost:7778/api/$1 [P]

