/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";



.TestStyle
{
	color: green;
	background:blue;
	title:yo;
}

.SpecialLabelStyle
{
	color: #ff0000;
}